<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="./css/estilos.css" rel="stylesheet">
   <link rel="stylesheet" href="<link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
   rel="stylesheet" />
   <link rel="stylesheet" href="">
   
    <title>Mercado Liebre</title>


</head>
<body>
    <header>
        <img class="logo" width="50%" src="./images/logo.svg" alt="Logo">
        
    <section>
        <div  class="search-bar">
            <input type="text" placeholder="Buscar productos, marcas">
        </div>
        <div>
          <i class="lupa fas fa-search"></i>
        </div>
        <div class="titulo">  
           
            <h4> <i  class=" mano fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</h4>
        </div>  
        <nav>
            <ul class="navlogbar"  type="none">
                <li><STYLE>A {text-decoration: none;} </STYLE> <a href=""> Ofertas</a></li>
                <li><STYLE>A {text-decoration: none;} </STYLE><a href="">Tiendas Oficiales</a></li>
                <li> <STYLE>A {text-decoration: none;} </STYLE><a href="">Vender</a></li>
                <li><STYLE>A {text-decoration: none;} </STYLE><a href="">Ayuda</a></li>
            </ul>
        
            <div>
                <ul  class="navlogbar"  type="none">
                    <li><STYLE>A {text-decoration: none;} </STYLE><a href = "">Crea tu cuenta </a> <i class="far fa-id-card"></i> </li>
                    <li><STYLE>A {text-decoration: none;} </STYLE><a href = "">Ingresa</a> <i class="fas fa-sign-in-alt"></i> </li>
                    <li><STYLE>A {text-decoration: none;} </STYLE><a href = "">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
                </ul>
            </div>
         </nav>

    </section>

    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
   <img class="home" width="100%" src="./images/home.jpg">
  </header>

    
        <main>
            <section>
            
            <h3 class="titulares">Basado en tu ultima visita</h3>
            <article>
                <img width="100%" src="./images/cafetera.jpg" alt="Cafetera">
                
                    <span class="precios">$6.770</span>
                    <p class="descuentos"> 40% OFF</p>
                   <b class="descripciones"> Cafetera Moulinex </b>
            
            </article>
            <article>
                <img width="100%" src="./images/macbook.jpg" alt="macbook">
            
                <span class="precios">$230.000</span>
                   <p class="descuentos">20% off </p> 
                   <b class="descripciones"> MacBook Pro 2019 </b>

                
            </article>
            <article>
                <img  width="100%" src="./images/galaxy.jpg" alt="Samsung Galaxi">
                
                <span class="precios"> $70.500</span>
                   <p class="descuentos">10% off </p>
                  <b class="descripciones" > Samsung Galaxy S10 </b> 
                
            </article>
            <article>
                <img  width="100%" src="./images/tv.jpg" alt="Smart Tv">
               
                <span class="precios">$23.200 </span>
                <p class="descuentos" >5% off </p>
               <b class="descripciones">SmartTv Samsung 43</b> 

                 
            </article>
            </section>
            <section>
                <h3 class="titulares">Sección de ofertas</h3>
                <article>
                    <img width="100%" src="./images/cafetera.jpg" alt="Cafetera">
                   

                    <span class="precios">$6.770 </span>
                    <p class="descuentos" >40% off </p>
                   <b class="descripciones">Cafertera Moulinex</b> 
    
                </article>
                <article>
                    <img width="100%" src="./images/macbook.jpg" alt="macbook">
                    <span class="precios"> $230.000</span>
                    <p class="descuentos" >20% off </p> 
                    <b class="descripciones"> MacBook Pro 2019 </b>
                </article>
                <article>
                    <img  width="100%" src="./images/galaxy.jpg" alt="Samsung Galaxi">
                   
                    <span class="precios"> $70.500 </span>
                    <p class="descuentos">10% off </p>
                   <b class="descripciones"> Samsung Galaxy S10 </b> 
                   
                </article>
                <article>
                    <img width="100%" src="./images/tv.jpg" alt="Smart Tv">
                
                    <span class="precios"> $23.200 </span>
                    <p class="descuentos">5% off </p>
                   <b class="descripciones" >SmartTv Samsung 43</b> 
                    <br>
                </article>
                </section>

        </main>
    <footer>
        <section class="contenedor-iconos">
            <ul type="none" >
                <li> <i class=" iconos fas fa-credit-card"></i>
                <b class="titulares">Paga con tarjeta o en efectivo</b>
                <p class="descripciones">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>

                </li>
                <li>
                <i class=" iconos fas fa-gift"></i>
                <b class="titulares">Envío gratis desde $ 2.500</b>
                <p class="descripciones">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>

                </li>

                <li>
                <i class=" iconos fas fa-user-shield"></i>
                <b class="titulares"> Seguridad, de principio a fin</b>
                <p class="descripciones"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
                </li>
            </ul>

            <b class="pie"> Copyright © 1999-2020 MercadoLiebre S.R.L.</b>

        </section>

    </footer> 

</body>
</html>