

/* Paleta de colores
--amarillo: #EAC926;
--azul: #03264C;
--celeste: #1259c3;
--grisOscuro: #666;
--grisClaro: #ebebeb;
--verde: #39b54a;
*/

/* Tamaños tipograficos*/

*{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.titulares{
    font-size: 24px;
        text-align: center;
}

.precios{
    font-size: 18px;
    color: #666;
    font-weight:bold ;
}

.descuentos{
    font-size: 16px;
    font-weight: bold;
}

.descripciones{
    font-size: 16px;
    color: #666;
    font-style: italic;
    font-weight: bold;
}

/*Secciones*/

header {
    background-color: #EAC926;
    
}
.logo{
    margin: 30px;
}

.search-bar{
    height: 25px;
    margin-left: 10px;
   
}

.lupa {
    background-color: white;
    margin-left: 10px;
    padding: 3px;
    border-style: inherit ;
}

.titulo { 
    text-align: center;
      
}

.navlogbar {
    text-decoration:none;
    padding:0;
    font-style: normal;
    color: #000000;
}
.burger-menu{
    background-color: #1259c3;
    color: white;
    padding: 10px 10px 10px 10px;
    margin: 10% 45% 10% 42%;
    border-radius: 15%;     
    text-align: center; 
   }

.contenedor-iconos{
    display: block;
    text-align: center;
}

.iconos{
    color:#1259c3;
    margin: 10px 10px 10px 10px;
    font-size: 4em;
    /* Si coloco 2em se ven muy pequeño los iconos*/
    display: block;
  }

b {
    display: block;
}

article {
    text-align: center;
}

.pie {
    text-align: left;
}




   
  









































/*
.imagenlogo{
    padding: 20px 20px 5px 5px;
    margin: 20px ;
    width: 90%;
    
    }
    
    header {
        background-color:#EAC926 ; 
        font-family: 'Roboto', sans-serif;
        background-attachment: initial;
        padding-left: 10px;
        margin: 5px;
    } 
    
    .fas {
        background-color: white;
        padding: 3px;
        margin-top: 2px;
    }
    
    
    .titulo{
        display: block;
    }
    
    .hipervinculo{
        text-decoration: none;
    }
    
    .burger-menu {
        color: white;
        background-color: blue;
        align-items: center;
        background-size: 10, 10;
    
    }